services:
  - type: web
    name: mobilsayt
    env: node
    plan: free
    autoDeploy: true
    buildCommand: |
      npm install
      npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        sync: false
      - key: JWT_SECRET
        sync: false

databases:
  - name: mobilsayt-db
    plan: free

